.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #333;
    padding: 4rem 2rem;
    height: 100vh;
    max-height: 1000px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  .readmecontainer h1 {
    font-size: 60px;
  }

  .readmecontainer {
    width: 700px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    padding: 46px;
    padding-top: 10px;
    background-color: rgb(230, 228, 228);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #333;
    height: 700px;
    overflow: scroll;
  }

  /* Define the cursor style */
  .cursor {
    margin: 40px;
    display: inline-block;
    width: 12px;
    height: 24px;
    background-color: #333;
    animation: blink 1s step-end infinite;
  }

  /* Define the animation */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .hero p {
    margin-bottom: 20px;
  }
  
  .hero .inputcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .hero input {
    font-size: 1rem;
    padding: 10px 10px;
    border: 2px solid #333;
    border-radius: 5px;
    outline: none;
  }

  .chatcontainer {
    margin-top: 20px;
    width: 100%;
  }
  
  .hero input:focus {
    border-color: #555;
  }
  
  .hero button {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero button:hover {
    background-color: #555;
  }
  